

/*header*/
.header {
    font-family: 'Ubuntu', sans-serif;
    border-radius: 25px;
    background: linear-gradient(132deg, #df0f09, #3517ff);
    background-size: 200% 200%;
    animation: BackgroundGradient 5s ease infinite;

    text-align: center;

    font-size: 19px;
    color: #ffffff;
    padding: 30px;
}
